.content {
    width: 100%; 
    min-height: 100vh;  
    padding: 100px; 
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/background.jpg");    
    background-size: cover;  
    background-repeat: no-repeat;     
}