html {
    font-size: 62.5%;    
}

body {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    text-align: center;
    color: #fff;  
    font-weight: 400;  
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}



